################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vexplorer.VC.VC.opendb
/vexplorer.VC.db
/.vs/vexplorer/v14/.suo
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/main.obj
/Debug/ext2.obj
/Debug/vexplorer.tlog/vexplorer.lastbuildstate
/Debug/vexplorer.tlog/unsuccessfulbuild
/Debug/vexplorer.tlog/CL.write.1.tlog
/Debug/vexplorer.tlog/CL.read.1.tlog
/Debug/vexplorer.tlog/CL.command.1.tlog
/Debug/vexplorer.log
/Debug
/x64/Debug
/data
/vexplorer.vcxproj.user
